// @use "../themes/colors" as *;

$form-width: 370px;

@mixin align-column($direction: column, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

.login {
  @include align-column(row, $align: flex-end);

  &__title {
    font-size: 1.5em;
    font-weight: bold;
  }
}

.form {
  @include align-column;

  &__container_inputs {
    @include align-column;
  }

  &__subcontainer {
    @include align-column;
    flex-direction: row;
    justify-content: space-between;
    width: $form-width;
    margin-top: 10px;
  }

  &__container_checkbox {
    @include align-column;
    flex-direction: row;
  }

  &__checkbox {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid $primary-green;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
  }

  &__checkbox_label {
    margin-left: 5px;
    font-size: 1em;
  }

  &__link {
    cursor: pointer;
    text-decoration: none;
    color: $primary-green;
  }

  &__container-buttons {
    @include align-column;
    margin-top: 10px;
  }

  &__footer-text {
    margin-top: 10px;
  }

  &__link--register {
    font-weight: bold;
  }
}
